/* Global Settings*/
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/* Global Variables*/
:root {
  --color-primary: #16304d;
  --color-accent: #db7a64;
  --color-default-text: #16304d;
  --color-light-text: #f8f8f8;
  --color-background: #f8f8f8;
}

/* HTML */
html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-default-text);
  background-color: var(--color-background);
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* General Typography */
h1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
}

h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 32px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

br {
  content: "";
}

/* Global Classes */
.caption {
  font-size: 14px;
  line-height: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.tinytext {
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.regular-text {
  font-weight: normal;
}

.only-desktop {
  display: none;
}

.center {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  text-align: center !important;
}

.align-left {
  text-align: left;
}

.less-line-height {
  line-height: 28px;
}

.contact-link {
  color: var(--color-default-text);
}

.alert-message {

  background-color: #ffcccc;
  color: #cc0000;
  max-width: 800px;
  border: 1px solid #cc0000;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

a:hover {
  color: var(--color-accent) !important;
}

/* Class for visually hide text for only screen readers to read */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

hr {
  width: max-content;
  margin: auto;
}

/* Header Section */

.headline {
  margin-bottom: 1.5rem;
}

.headline h1 {
  margin-bottom: 0.5rem;
}

header {
  padding: 16px 0;
  background-color: var(--color-primary);
}

#logo-img {
  width: 210px;
}

header .img-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Hero Section */
section#hero {
  margin: 48px auto 96px auto;
  padding: 0 16px 0 16px;
  max-width: 800px;
}

#hero>h1 {
  text-align: center;
  letter-spacing: -1px;
}

#hero>p {
  margin: 8px 0;
}

#hero>img {
  margin-top: 16px;
  margin-bottom: 16px;
}

#hero .emphasize {
  font-size: 24px;
  font-weight: bold;
}

/* Offer Section*/
#offer p {
  margin: 8px 0;
}

.entry {
  display: flex;
}

.left,
.right {
  white-space: nowrap;
}

.dots {
  height: 2em;
  overflow: hidden;
  word-wrap: break-word;
  color: var(--color-default-text);
  letter-spacing: 1px;
}

.dots:after {
  padding-left: 8px;
  padding-right: 4px;
  font-size: 6px;
  content: "• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •";
  position: relative;
  bottom: -2px;
}

img.style-image {
  display: block;
  width: 100%;
  margin-bottom: -5px;
}

/* Offer Section*/
section#offer {
  background-color: var(--color-primary);
  padding: 32px 16px 64px 16px;
}

.card-style {
  background-color: var(--color-background);
  padding: 64px 16px;
  border-radius: 16px;
  max-width: 640px;
  margin: 0 auto 0 auto;
}

#offers {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* About Section*/
br {
  display: block;
  margin-bottom: 16px;
}

section#about {
  padding: 0 16px 0 16px;
  margin: 96px auto 96px auto;
  max-width: 800px;
}

/* Contact Section*/
section#contact {
  margin: 96px 0 96px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

#contact h2 {
  margin-bottom: 0;
}

.fa-whatsapp {
  font-size: 22px;
}

/* Footer Section */
footer {
  background-color: var(--color-primary);
  color: var(--color-light-text);
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
}

footer>a {
  text-decoration: underline;
}

footer>a:link,
footer>a:visited {
  color: var(--color-light-text);
}

footer>a:hover {
  color: var(--color-accent);
}

@media screen and (min-width: 481px) {
  .only-mobile {
    display: none !important;
  }
}

.facebook-icon {
  width: 48px;
  height: 48px;

  use {
    fill: #ffffff;
  }

  &:hover {
    use {
      fill: #0866ff;
    }
  }
}

/* Impressum Page */
main.impressum {
  padding: 0 16px;
  padding-bottom: 128px;
  max-width: 560px;
  margin: 0 auto;
}

h1.impressum {
  margin-bottom: 32px;
}

address.impressum {
  margin-bottom: 16px;
  font-style: normal;
}

div#impressum-contact {
  margin-bottom: 16px;
}

/* DSGVO Page */
main.datenschutz {
  padding: 0 16px;
  padding-bottom: 128px;
  margin: 0 auto;
  max-width: 75ch;
}

@media screen and (max-width: 400px) {
  .datenschutz h1 {
    font-size: 7vw;
  }
}

/* Interactions */
a.floating {
  display: flex;
  position: fixed;
  bottom: 48px;
  right: 24px;
  border-radius: 64px;
  background-color: var(--color-primary);
  box-shadow: 1px 5px 10px 0px #1a2f844e;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a.floating:hover {
  scale: 1.15;

  i.fas {
    scale: 1.5;
  }
}

a.floating>i.fas {
  color: var(--color-light-text);
  font-size: 24px;
  scale: 1.3;
}

.contact-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copy-interaction:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.tooltip .tooltiptext {
  font-size: 1rem;
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
  bottom: 8px;
  left: auto;
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.blend-img {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0.6) 10%),
    linear-gradient(to top, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0) 10%),
    url("./assets/images/feet-deko-img-compressed.jpg");
  background-size: cover;
  background-position: center;
}

.contact-p {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.contact-icons {
  use {
    fill: #16304d;
  }
}